absl-py==0.7.1
alabaster==0.7.11
alembic==1.0.7
altair==2.3.0
amqp==2.4.1
appnope==0.1.0
astor==0.7.1
astroid==2.0.4
awscli==1.16.102
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==2.1.4
boto==2.49.0
boto3==1.9.92
botocore==1.12.92
bz2file==0.98
cachetools==3.1.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorama==0.3.9
configparser==3.7.4
coverage==4.5.1
cycler==0.10.0
dask==1.1.1
databricks-cli==0.8.6
debtcollector==1.20.0
decorator==4.3.0
defusedxml==0.5.0
distributed==1.25.3
dnspython==1.16.0
docker==3.7.2
docker-pycreds==0.4.0
docutils==0.14
dogpile.cache==0.6.8
entrypoints==0.2.3
eventlet==0.24.1
extras==1.0.0
fasteners==0.14.1
featuretools==0.6.0
fixtures==3.0.0
flake8==3.5.0
Flask==1.0.2
future==0.17.1
futurist==1.8.0
gast==0.2.2
gitdb2==2.0.5
GitPython==2.1.11
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.19.0
gunicorn==19.9.0
h5py==2.9.0
HeapDict==1.0.0
html5lib==1.0.1
idna==2.7
imagesize==1.1.0
ipykernel==4.9.0
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.4.2
iso8601==0.1.12
isort==4.3.4
itsdangerous==1.1.0
jedi==0.12.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-launcher==0.13.1
jupyterlab-server==0.2.0
kaggle==1.5.3
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keystoneauth1==3.11.2
keystonemiddleware==5.3.0
kiwisolver==1.0.1
kombu==4.3.0
lazy-object-proxy==1.3.1
linecache2==1.0.0
logutils==0.3.5
Mako==1.0.7
Markdown==3.1
MarkupSafe==1.0
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.3
mleap==0.8.1
mlflow==0.9.1
mock==2.0.0
monotonic==1.5
msgpack==0.6.1
mxnet==1.3.1
nbconvert==5.4.0
nbformat==4.4.0
netaddr==0.7.19
netifaces==0.10.9
nose==1.3.7
nose-exclude==0.5.0
notebook==5.7.8
numpy==1.14.6
os-service-types==1.5.0
oslo.cache==1.32.0
oslo.concurrency==3.29.0
oslo.config==6.8.0
oslo.context==2.22.0
oslo.db==4.43.0
oslo.i18n==3.23.0
oslo.log==3.42.2
oslo.messaging==9.4.0
oslo.middleware==3.37.0
oslo.policy==2.1.0
oslo.serialization==2.28.1
oslo.service==1.36.0
oslo.utils==3.40.2
oslo.versionedobjects==1.34.1
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
Paste==3.0.6
PasteDeploy==2.0.1
pbr==5.1.2
pecan==1.3.2
pexpect==4.6.0
pickleshare==0.7.4
prettytable==0.7.2
prometheus-client==0.3.1
prompt-toolkit==2.0.7
protobuf==3.7.1
psutil==5.5.0
ptyprocess==0.6.0
pyasn1==0.4.4
pycadf==2.9.0
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pylint==2.1.1
pyparsing==2.2.0
python-dateutil==2.7.3
python-dotenv==0.9.1
python-editor==1.0.4
python-etcd==0.4.5
python-keystoneclient==3.18.0
python-mimeparse==1.6.0
python-slugify==1.2.6
pytz==2018.5
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.3
querystring-parser==1.2.3
repoze.lru==0.7
requests==2.20.1
rfc3986==1.2.0
Routes==2.4.1
rsa==3.4.2
s3fs==0.2.0
s3transfer==0.2.0
scikit-learn==0.20.2
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
sklearn==0.0
smart-open==1.8.0
smmap2==2.0.5
snowballstemmer==1.2.1
sortedcontainers==2.1.0
soupsieve==1.7.3
Sphinx==1.8.0
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.0.19
sqlalchemy-migrate==0.12.0
sqlparse==0.2.4
statsd==3.3.0
stevedore==1.30.0
tabulate==0.8.3
tblib==1.3.2
Tempita==0.5.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
testresources==2.0.1
testscenarios==0.5.0
testtools==2.3.0
toolz==0.9.0
tornado==5.1.1
tqdm==4.26.0
traceback2==1.4.0
traitlets==4.3.2
typed-ast==1.1.0
Unidecode==1.0.22
unittest2==1.1.0
urllib3==1.24.1
vine==1.2.0
waitress==1.2.1
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.8.5
websocket-client==0.56.0
WebTest==2.0.33
Werkzeug==0.15.2
widgetsnbextension==3.4.2
wrapt==1.10.11
WSME==0.9.3
yapf==0.24.0
zict==0.1.3
